@import "tailwindcss";

@theme {
	--font-nunito: var(--font-nunito);
	--font-cabin: var(--font-cabin);
	--font-unigeo64: var(--font-unigeo64);
	--shadow-3xl: 3px 3px 0px rgba(0, 0, 0, 1);
	--shadow-5xl: 5px 5px 0px rgba(0, 0, 0, 1);
	--transform-move-button: translateY(-2px);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-cabin);
}

button {
	font-family: var(--font-nunito);
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

h1 {
	font-family: var(--font-unigeo64);
	font-size: var(--text-5xl);
	line-height: 1;
}

h4 {
	font-family: var(--font-unigeo64);
	font-size: var(--text-2xl);
	line-height: 1;
}